<mat-nav-list>
  <a mat-list-item
     routerLink='welcome'
     routerLinkActive="mat-list-item-active"
  >Home</a>

  <a mat-list-item
     routerLink='projects'
     routerLinkActive="mat-list-item-active"
  >Projects</a>

  <a mat-list-item
     routerLink='employees'
     routerLinkActive="mat-list-item-active"
  >Employees</a>

  <a mat-list-item
     routerLink='customers'
     routerLinkActive="mat-list-item-active"
  >Customers</a>

  <a mat-list-item
     routerLink='map'
     routerLinkActive="mat-list-item-active"
  >Map</a>

</mat-nav-list>
