@import '../../../variables';

.project-card {
  width: 500px;
  margin: 10px;
}

.mat-card-header {
  justify-content: space-between;
}

.mat-card-title {
  color: $zuehlke_primary;
}

.mat-card-subtitle {
  color: $zuehlke_accent;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
