<div class="container">
  <mat-card class="project-card" *ngFor="let project of projects" (click)="cardClicked(project.id)">
    <mat-card-header>
      <mat-card-title>{{ project.name }}</mat-card-title>
      <mat-card-subtitle>{{ project.code }}</mat-card-subtitle>
      <mat-chip-list>
        <mat-chip color="primary" selected>{{ project.teamSize }}</mat-chip>
      </mat-chip-list>
    </mat-card-header>
    <mat-card-content>
      <img defaultImage="assets/project_default.jpg" lazyLoad="/api/projects/{{project.code}}/picture"
           alt="{{project.name}}">
      <p>{{ project.description }}</p>
    </mat-card-content>
  </mat-card>
</div>

