@import '../../../variables';

.project-card {
  max-width: 30em;
  margin: 1em;

  &:hover {
    cursor: pointer;
    box-shadow: 0.5em 0.5em 0.5em 0 $zuehlke_accent;
  }

  img {
    width: 100%;
  }
}

.mat-card-header {
  justify-content: space-between;
}

.mat-card-title {
  color: $zuehlke_primary;
}

.mat-card-subtitle {
  color: $zuehlke_accent;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.employee-number {
  display: flex;
  align-items: center;

  .mat-icon {
    margin-right: 0.25em
  }
}
